////////////////////////////////////////////////////////////////////////////////
//   carousel - hero                                                          //
////////////////////////////////////////////////////////////////////////////////

.carousel{
	&__item{

	}
	&__info{
		position: relative;
	}
	&__title{
		position: absolute;
		top: $el__spacer--lg*2;
		left: $el__spacer--sm;
	}
}