////////////////////////////////////////////////////////////////////////////////
//   header-hero                                                              //
////////////////////////////////////////////////////////////////////////////////

.header-hero{
	@extend .container-fluid;
	position: relative;
	padding: 0;
	&__carousel{
		@extend .col-xs-12;
		padding:0;
	}
}


